.LocationContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f6f6f6;
    padding: 20px 0;
    border-radius: 25px;
    margin: 40px 7%;
    width: 86%;
}

@media screen and (max-width: 780px) {
    .LocationContainer {
        margin: 20px 20px 0px;
        padding: 0;
        background-color: #ffffff;
        width: 335px;
        gap: 20px;
    }
}