.AproposContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 38px 55px 0px;
    gap: 30px;
}

@media screen and (max-width: 780px) {
    .AproposContainer {
        margin: 19px 0;
        gap: 2 0px;
    }
}